@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Bug Tracker</h1>
    <p class="lead">Track your issues</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            Manage your projects and users.
        </p>
        @Html.ActionLink("Projects", "Index",  "Projects")
    </div>
    <div class="col-md-4">
        <h2>Tickets</h2>
        <p>Manage your tickets</p>
        @Html.ActionLink("Tickets", "Index",  "Tickets")
    </div>
    <div class="col-md-4">
        <h2>Administrators Only</h2>
        
        @Html.ActionLink( "Administrator", "Index", "Admin")
    </div>
</div>