


@model IEnumerable<CBLSummerBugTracker08042016.Models.ApplicationUser>
    <h2>Admin View</h2>

<h4>@Html.ActionLink("List User Roles", "ListUsers")</h4>

<h4>@Html.ActionLink("List Users by Role", "ListUsersByRole")</h4>

<h4>@Html.ActionLink("Create or Edit Projects", "Index")</h4>

